#navbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: #76fafd;
}
#user-form{
    width: 15%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid gray;
    padding: 40px;
    background-color: #fae6c8;
}
input{
    margin: 5px;
    padding: 4px 0px 4px 1px;
}
#submit{
    margin: 5px;
   
}
#user_country{
    margin: 5px;
    padding: 4px 0px 4px 1px;
    
}